.left_wrapper{
  flex: 1;
  background: #fefefe;
  color: #333;
  padding: 16px 16px 32px 16px;
}

.header{
  text-align: center;
}

.money_form > *{
  display: block;
}

.money_form > label{
  margin-bottom: 16px;
  font-size: 18px;
}

.money_form > input[name="amount"]{
  margin: 5px 0 20px 0;
  padding: 8px 20px;
  border: 1px solid #333;
  outline: none;
  border-radius: 6px;
  width: calc(100% - 40px);
}

.money_form > button[type="submit"]{
  padding: 16px 32px;
  font-weight: bold;
  text-align: center;
  color: #fefefe;
  background: #2929ff;
  border: 0;
  outline: none;
  width: 100%;
}